@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
* {
  margin: 0%;
  padding: 0%;
  font-family: "Roboto", sans-serif;
}
body {
  background: #0d1317ff;
}
.calculadora {
  background-color: #6564dbff;
  text-align: center;
  margin: 1rem auto 0;
  width: 50%;
  border-radius: 80px;
}
.container {
  padding: 30px 1px;
}
.valores {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}
.operaciones {
  margin: 10px 0 0 0;
  width: 80%;
  height: 30px;
  outline: none;
  border-radius: 30px 30px 0 0;
  border: none;
  text-align: end;
  padding-right: 1rem;
  font-size: 1.5rem;
}
.resultados {
  width: 80%;
  height: 50px;
  outline: none;
  border-radius: 0 0 30px 30px;
  border: none;
  text-align: end;
  padding-right: 1rem;
  font-size: 2.4rem;
}
.teclas {
  font-size: 20px;
  width: 15%;
  height: 50px;
  margin: 11px 18px;
  color: #ffffff;
  cursor: pointer;
  background-color: #101d42ff;
  border: none;
  border-radius: 100px;
  transition: background-color 600ms;
}
.teclas:hover {
  background-color: #232ed1ff;
}
@media screen and (max-width: 767px) {
  .calculadora {
    margin: 2rem auto 0;
    width: 100%;
    border-radius: 50px;
  }
  .operaciones {
    margin: 8px 0 0 0;
    width: 88%;
    height: 60px;
    border-radius: 40px 40px 0 0;
    font-size: 2.4rem;
  }
  .resultados {
    width: 88%;
    height: 80px;
    border-radius: 0 0 40px 40px;
    font-size: 3.4rem;
  }
  .teclas {
    font-size: 2rem;
    width: 18%;
    height: 70px;
    margin: 18px 18px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .calculadora {
    margin: 5rem auto 0;
    width: 94%;
  }
  .operaciones {
    margin: 8px 0 0 0;
    width: 88%;
    height: 100px;
    border-radius: 44px 44px 0 0;
    font-size: 4.0rem;
  }
  .resultados {
    width: 88%;
    height: 120px;
    border-radius: 0 0 40px 40px;
    font-size: 5.7rem;
  }
  .teclas {
    font-size: 3.4rem;
    width: 20%;
    height: 120px;
    margin: 18px 10px;
  }
}
